.btn {
  background: #F63DAC;
  background-image: -webkit-linear-gradient(top, #F63DAC, #2C1ED0);
  background-image: -moz-linear-gradient(top, #F63DAC, #2C1ED0);
  background-image: -ms-linear-gradient(top, #F63DAC, #2C1ED0);
  background-image: -o-linear-gradient(top, #F63DAC, #2C1ED0);
  background-image: -webkit-gradient(to bottom, #F63DAC, #2C1ED0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 0;
  line-height: 0;
  color: #FFFFFF;
  font-family: Brush Script MT;
  width: 97px;
  font-size: 43px;
  font-weight: 100;
  padding: 32px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #FFFFFF 1px;
  background: #D01E1E;
  background-image: -webkit-linear-gradient(top, #D01E1E, #F63D3D);
  background-image: -moz-linear-gradient(top, #D01E1E, #F63D3D);
  background-image: -ms-linear-gradient(top, #D01E1E, #F63D3D);
  background-image: -o-linear-gradient(top, #D01E1E, #F63D3D);
  background-image: -webkit-gradient(to bottom, #D01E1E, #F63D3D);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #eeebdd;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #ce1212;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
